In [138]:
import pandas as pd

df = pd.read_csv('DelayedFlights.csv')
df = df.sample(n=200000)

# Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

Com hem pogut veure hi ha 29 columnes, de les quals només em quedaré amb 21, que són les que em semblen rellevants per fer una anàlisi dels retards i cancel·lacions. He eliminat les columnes 'Unnamed: 0', 'Year', 'Month','DayofMonth','DayOfWeek','TailNum','TaxiIn', 'TaxiOut' perquè crec que la informació que aporten com el dia de la setmana, el mes, etc..no canvia massa el resultat final que es vol aconseguir.

In [139]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 1561203 to 1849307
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199247 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199123 non-null  float64
 13  CRSElapsedTime     199981 non-null  float64
 14  AirTime            199123 non-null  float64
 15  ArrDelay           199123 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199247 non-null  float64
 21  TaxiOut            199948 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       129053 non-null  float64
 26  WeatherDelay       129053 non-null  float64
 27  NASDelay           129053 non-null  float64
 28  SecurityDelay      129053 non-null  float64
 29  LateAircraftDelay  129053 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1561203,5567710,2008,10,8,3,2028.0,2021,2025.0,2025,OO,...,9.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
982331,3291719,2008,6,29,7,1839.0,1755,2121.0,2046,US,...,3.0,11.0,0,N,0,3.0,0.0,0.0,0.0,32.0
1559512,5558127,2008,10,16,4,606.0,600,717.0,652,OO,...,2.0,20.0,0,N,0,6.0,0.0,19.0,0.0,0.0
1443437,4922551,2008,9,26,5,1614.0,1415,1847.0,1655,WN,...,8.0,23.0,0,N,0,0.0,0.0,0.0,0.0,112.0
1664046,6120793,2008,11,19,3,1400.0,1248,1521.0,1410,OO,...,5.0,24.0,0,N,0,0.0,0.0,71.0,0.0,0.0

In [140]:
df = df.drop(['Unnamed: 0', 'Year', 'Month','DayofMonth','DayOfWeek','TailNum','TaxiIn', 'TaxiOut'], axis=1)

# Exercici 2


Fes un informe complet del dataset:

Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
Troba quantes dades faltants hi ha per columna.
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
Fes una taula de les aerolínies amb més endarreriments acumulats.
Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
Aporta allò que consideris rellevant.

In [141]:
df.describe()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,200000.000000,200000.000000,199247.000000,200000.000000,200000.000000,199123.000000,199981.000000,199123.000000,199123.000000,200000.000000,200000.000000,200000.000000,200000.000000,129053.000000,129053.000000,129053.000000,129053.000000,129053.000000
mean,1518.744735,1467.522450,1608.545996,1634.374095,2188.406030,133.319074,134.328861,108.297374,42.368360,43.350085,765.582675,0.000330,0.004055,19.184389,3.728437,14.952128,0.090350,25.477796
std,450.454759,424.590775,549.303693,464.406044,1944.829919,72.160243,71.430929,68.716751,57.286242,53.907594,575.020276,0.018163,0.063550,44.488281,21.074235,33.593324,2.202768,42.407130
min,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,-25.000000,0.000000,-67.000000,6.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1204.000000,1135.000000,1316.000000,1325.000000,615.000000,80.000000,82.000000,58.000000,9.000000,12.000000,338.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1545.000000,1510.000000,1714.000000,1705.000000,1546.000000,116.000000,116.000000,90.000000,25.000000,24.000000,606.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,8.000000
75%,1900.000000,1815.000000,2030.000000,2014.000000,3427.000000,165.000000,165.000000,137.000000,56.000000,53.000000,998.000000,0.000000,0.000000,21.000000,0.000000,14.000000,0.000000,34.000000
max,2400.000000,2359.000000,2400.000000,2400.000000,9740.000000,750.000000,660.000000,733.000000,1951.000000,1952.000000,4962.000000,1.000000,1.000000,1951.000000,915.000000,761.000000,392.000000,1254.000000

In [142]:
df.isnull().sum()

DepTime                  0
CRSDepTime               0
ArrTime                753
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
ActualElapsedTime      877
CRSElapsedTime          19
AirTime                877
ArrDelay               877
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         70947
WeatherDelay         70947
NASDelay             70947
SecurityDelay        70947
LateAircraftDelay    70947
dtype: int64

In [143]:
df['velocitatM'] = df['Distance']/df['ActualElapsedTime']

In [144]:
df['retard'] = df['CRSArrTime'] < df['ArrTime']
volsMesllargs = df.sort_values('Distance', ascending=False).head(10)
df.head(10)

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,velocitatM,retard
1561203,2028.0,2021,2025.0,2025,OO,6060,57.0,64.0,34.0,0.0,...,0,N,0,NaN,NaN,NaN,NaN,NaN,3.140351,False
982331,1839.0,1755,2121.0,2046,US,72,162.0,171.0,148.0,35.0,...,0,N,0,3.0,0.0,0.0,0.0,32.0,6.833333,True
1559512,606.0,600,717.0,652,OO,5723,71.0,52.0,49.0,25.0,...,0,N,0,6.0,0.0,19.0,0.0,0.0,2.394366,True
1443437,1614.0,1415,1847.0,1655,WN,346,153.0,160.0,122.0,112.0,...,0,N,0,0.0,0.0,0.0,0.0,112.0,5.627451,True
1664046,1400.0,1248,1521.0,1410,OO,6396,81.0,82.0,52.0,71.0,...,0,N,0,0.0,0.0,71.0,0.0,0.0,4.024691,True
1439401,1209.0,1200,1304.0,1300,WN,23,55.0,60.0,44.0,4.0,...,0,N,0,NaN,NaN,NaN,NaN,NaN,4.345455,True
1275168,2058.0,2045,24.0,30,WN,2308,146.0,165.0,123.0,-6.0,...,0,N,0,NaN,NaN,NaN,NaN,NaN,7.013699,False
1191734,1655.0,1307,1807.0,1422,FL,779,252.0,255.0,233.0,225.0,...,0,N,0,0.0,0.0,0.0,0.0,225.0,6.932540,True
70638,1825.0,1750,1959.0,1922,UA,375,154.0,152.0,131.0,37.0,...,0,N,0,35.0,0.0,2.0,0.0,0.0,5.909091,True
1423847,1747.0,1655,1840.0,1751,DL,1163,113.0,116.0,97.0,49.0,...,0,N,0,49.0,0.0,0.0,0.0,0.0,5.539823,True

In [145]:
df['minutsTotals'] = df['CarrierDelay'] + df['WeatherDelay'] + df['NASDelay'] + df['SecurityDelay'] + df['LateAircraftDelay']
total = df.groupby('UniqueCarrier')['minutsTotals'].sum().reset_index()
total = total.sort_values('minutsTotals', ascending=False)
total.head(20)

   UniqueCarrier  minutsTotals
17            WN     1105649.0
1             AA      906884.0
15            UA      681120.0
11            MQ      630694.0
14            OO      589896.0
18            XE      528144.0
6             DL      452200.0
5             CO      414869.0
7             EV      390312.0
19            YV      378477.0
16            US      367202.0
12            NW      353932.0
4             B6      313909.0
9             FL      305965.0
13            OH      275869.0
0             9E      246390.0
3             AS      141171.0
8             F9       75204.0
10            HA       27250.0
2             AQ        1095.0

In [146]:

volsMesllargs = df.sort_values('Distance', ascending=False).head()
volsMesllargs.head()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,velocitatM,retard,minutsTotals
718648,2003.0,1955,1135.0,1130,CO,14,572.0,575.0,544.0,5.0,...,N,0,NaN,NaN,NaN,NaN,NaN,8.674825,True,NaN
1621350,1350.0,1335,1836.0,1810,CO,15,646.0,635.0,600.0,26.0,...,N,0,0.0,0.0,11.0,0.0,15.0,7.681115,True,26.0
1729023,1504.0,1335,2021.0,1935,CO,15,617.0,660.0,597.0,46.0,...,N,0,0.0,0.0,0.0,0.0,46.0,8.042139,True,46.0
175540,1402.0,1320,1926.0,1920,CO,15,624.0,660.0,600.0,6.0,...,N,0,NaN,NaN,NaN,NaN,NaN,7.951923,True,NaN
1421203,1506.0,1335,1939.0,1810,CO,15,633.0,635.0,595.0,89.0,...,N,0,0.0,0.0,0.0,0.0,89.0,7.838863,True,89.0

In [147]:
rutesMesRetards = df.groupby(['Origin', 'Dest'])[['minutsTotals', 'Distance']].sum()
rutesMesRetards = rutesMesRetards.sort_values('Distance', ascending=False)
rutesMesRetards.head(20)

             minutsTotals  Distance
Origin Dest
SFO    JFK        12421.0    662016
JFK    LAX        11983.0    621225
LAX    JFK        10530.0    594000
       ORD        13812.0    546185
ORD    LAX        14162.0    526990
JFK    SFO         9374.0    475824
ATL    LAX         8251.0    457310
ORD    SFO        12792.0    437502
EWR    LAX         6136.0    436812
LAX    HNL         8114.0    434520
       EWR         4851.0    407364
DFW    LGA        13166.0    356973
LAX    ATL         5262.0    344442
ATL    LAS         5744.0    344159
DFW    LAX         8044.0    334685
SFO    ORD         8782.0    334126
EWR    SFO         5601.0    333450
SFO    EWR         5745.0    325755
ORD    SEA         9331.0    316664
LAS    ORD         9360.0    316635

In [148]:
df.to_excel('Exercici3.xlsx', index=False)